In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv("winequality-red.csv")
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5.0
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5.0
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6.0
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1595,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5.0
1596,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6.0
1597,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6.0
1598,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5.0
1599,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6.0

In [3]:
samples=len(df)
columns=len(df.columns)
print(samples,columns)

1600 12

In [5]:
def count_nan():
        for col in df.columns:
            column_name = col
            working_col = df[col]
            working_col_missing_samp = working_col.isna().sum()
            print(f"The column {column_name} is missing {working_col_missing_samp/columns*100}% of data! ")        
count_nan()

The column fixed acidity is missing 8.333333333333332% of data!
The column volatile acidity is missing 8.333333333333332% of data!
The column citric acid is missing 8.333333333333332% of data!
The column residual sugar is missing 8.333333333333332% of data!
The column chlorides is missing 8.333333333333332% of data!
The column free sulfur dioxide is missing 8.333333333333332% of data!
The column total sulfur dioxide is missing 8.333333333333332% of data!
The column density is missing 8.333333333333332% of data!
The column pH is missing 8.333333333333332% of data!
The column sulphates is missing 8.333333333333332% of data!
The column alcohol is missing 8.333333333333332% of data!
The column quality is missing 8.333333333333332% of data!

In [6]:
nan_samples = df[df.isna().all(axis=1)]
nan_indexes = nan_samples.index.values
df = df.drop(nan_indexes)
count_nan()

The column fixed acidity is missing 0.0% of data!
The column volatile acidity is missing 0.0% of data!
The column citric acid is missing 0.0% of data!
The column residual sugar is missing 0.0% of data!
The column chlorides is missing 0.0% of data!
The column free sulfur dioxide is missing 0.0% of data!
The column total sulfur dioxide is missing 0.0% of data!
The column density is missing 0.0% of data!
The column pH is missing 0.0% of data!
The column sulphates is missing 0.0% of data!
The column alcohol is missing 0.0% of data!
The column quality is missing 0.0% of data!

In [8]:
df = df.sort_values("quality")
df = df.reset_index(drop=True)
df

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.1,0.875,0.05,5.7,0.082,3.0,14.0,0.99808,3.40,0.52,10.2,3.0
1,10.4,0.440,0.42,1.5,0.145,34.0,48.0,0.99832,3.38,0.86,9.9,3.0
2,8.3,1.020,0.02,3.4,0.084,6.0,11.0,0.99892,3.48,0.49,11.0,3.0
3,6.8,0.815,0.00,1.2,0.267,16.0,29.0,0.99471,3.32,0.51,9.8,3.0
4,11.6,0.580,0.66,2.2,0.074,10.0,47.0,1.00080,3.25,0.57,9.0,3.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,5.0,0.420,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8.0
1595,5.5,0.490,0.03,1.8,0.044,28.0,87.0,0.99080,3.50,0.82,14.0,8.0
1596,7.2,0.380,0.31,2.0,0.056,15.0,29.0,0.99472,3.23,0.76,11.3,8.0
1597,11.3,0.620,0.67,5.2,0.086,6.0,19.0,0.99880,3.22,0.69,13.4,8.0
1598,7.4,0.360,0.30,1.8,0.074,17.0,24.0,0.99419,3.24,0.70,11.4,8.0

In [18]:
def normalize_values(col_value, min_val, max_val):
    normalized_val = np.divide(col_value - min_val, max_val - min_val)
    return normalized_val

def main():
    for column in df.columns:
        col_value = df[column]
        min_val = df[column].min()
        max_val = df[column].max()
        df[column] = normalize_values(col_value, min_val, max_val)


main()
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000,1599.000000
mean,0.329171,0.279329,0.270976,0.112247,0.125988,0.209506,0.142996,0.490211,0.449695,0.196496,0.311228,0.527205
std,0.154079,0.122644,0.194801,0.096570,0.078573,0.147326,0.116238,0.138571,0.121564,0.101501,0.163949,0.161514
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.221239,0.184932,0.090000,0.068493,0.096828,0.084507,0.056537,0.406021,0.370079,0.131737,0.169231,0.400000
50%,0.292035,0.273973,0.260000,0.089041,0.111853,0.183099,0.113074,0.490455,0.448819,0.173653,0.276923,0.600000
75%,0.407080,0.356164,0.420000,0.116438,0.130217,0.281690,0.197880,0.570117,0.519685,0.239521,0.415385,0.600000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000